/*
 * Web Coding Challenge style
 * Last update: 18/02/2019
 * Author: Tadej Štadler
 */

body {
    background: #f4f6f9;
}

.content-header {
    background-color: #ffffff;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 15px 20px 13px;
}

.content-header h1 {
    margin: 0 0 0px;
    font-size: 24px;
}

.content-header .breadcrumb {
    float: right;
    background: 0 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 0;
    right: 20px;
}
.content {
    min-height: 250px;
    padding: 30px 30px 0px 30px;
    margin-right: auto;
    margin-left: auto;
}

.content a.card, .content .image-container a{
    color: #000000;
}

.content a.card:hover, .content .image-container:hover a {
    text-decoration: none;
}

.content .image-container {
    position: relative;
}

.content .image-container img {
    width: 100%;
}

.content .image-container .text-overlay {
    position: relative;
}

.content .image-container .text-overlay span {
    position: absolute;
    font-size: 12px;
    width: 100%;
    background-color: rgba(255,255,255,0.75);
    text-transform: uppercase;
    bottom: 0;
    left: 0;
    padding: 4px 6px;
}

.fullscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
}

.fullscreen img {
    position: relative;
    width: 100%;
    height: 100%;
}

.fullscreen .details-overlay, .fullscreen .controls {
    position: absolute;
    background-color: #000000;
    color: #ffffff;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    width: 100%;
}

.fullscreen .details-overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    color: #ffffff;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    width: 100%;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.fullscreen .close {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #ffffff;
}